.main-screen {
    width: 100%;
    flex: 1 0 100%;
    position: relative;
    &__bg {
        position: absolute;
        min-width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-image: url("../img/bg_main.jpg");
        background-size: 100%;
        background-position: calc(100% / 1.5) 0%;
        background-repeat: no-repeat;
        @media (max-width:920px) {
            background-image: url("../img/bg_main.jpg");
            background-size: calc(100% * 2.5);
            background-position: calc(100% / 1.5) 0%;
            background-repeat: no-repeat;
        }

    }
    &__content {
        position: absolute;
        top: 40%;
        left: 43%;
        @include tr(-50%, -50%, 0);
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__heading {
        h1 {
            color: $addColor;
            font-family: $fontFamily;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 49px;
            span {
                color: $mainColor;
            }
            @media (max-width:920px) {
                font-size: 32px;
                line-height: 39px;
                padding: 0 15px;
            }
        }
    }
    &__price {
        background-color: $mainColor;
        display: flex;
        padding: 11px 22px;
        position: relative;
        margin: 30px 0;
        p {
            line-height: 1.5;
            color: $addColor;
            font-family: $fontFamily;
            font-style: normal;
            &:first-child {
                font-weight: normal;
                font-size: 20px;
            }
            &:last-of-type {
                font-weight: 800;
                font-size: 30px;
            }
        }
        &:after {
            content: "";
            width: 30px;
            height: 30px;
            margin-top: 0;
            background-color: $mainColor;
            position: absolute;
            bottom: -10px;
            left: 50%;
            border-radius: 5px;
            @include tr(-50%, 0, 0);
            transform: rotate(45deg);
        }
    }
    &__percent {
        box-sizing: border-box;
        padding: 11px 22px;
        border: 1px solid $addColor;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7px
    }
    &__reserv {
        border: 2px solid $addColor;
        p {
            font-family: $fontFamily;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: $addColor;
            padding: 24px 37px;
        }
    }
}