footer {
  margin: 0 auto;
  max-width: 1140px;
  display: block;
  width: 100%;
}
.footer__content {
  width: 100%;
  display: block;
  margin: auto;
  display: flex;
  p {
    font-family: $fontFamily;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #B3B3B3;
  }
  @media (max-width: 920px) {
    width: 100%;
  }
}
.footer__pay {
  padding-left: 85px;
  img {
    padding: 11px 20px 39px 0;
  }
}
.footer__phone {
  display: flex;
  flex-direction: column;
  padding-left: 276px;
}
