.modal {
  position: absolute;
  top: 6%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -6%);
  z-index: 100;
  background-color: #cfa3a3;
  display: 'none';
  @media (max-width: 920px) {
    max-width: 100%;
    margin: 0;
  }
  input {
    background-color: transparent;
    padding: 13px 0 11px 20px;
    margin: 10px 97px 0 98px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 3px;
    @media (max-width: 920px) {
      margin: 10px 17px 0 18px;
    }
    input::placeholder {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #C7C7C7;
    }
    &.empty {
      border: 1px solid red;
    }
  }
  .close {
    position: absolute;
    background: no-repeat url(../img/icons/close.svg);
    right: 22px;
    top: 22px;
    padding: 10px;
    cursor: pointer;
  }
  .submit {
    padding: 27px 128px;
    background-color: #fc9b09;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    outline: inherit;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    display: block;
    margin: 23px auto 60px auto;
    &:active {
      color:#fc9b09;
      background-color:#ffffff;
      border: 1px solid #fc9b09;
    }
  }
  h4 {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin-top: 62px;
    color: #37373F;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 615px;
  border-radius: 6px;
  @media (max-width: 920px) {
    max-width: 100%;
    margin: 0;
  }
}
label {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #37373F;
  margin: 40px 97px 0 98px;
  @media (max-width: 920px) {
    margin: 10px 17px 0 18px;
  }

}
#agree {
  font-family: $fontFamily;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #37373F;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+.label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.label { //custom-checkbox+label::before
  label {
    margin: 0;
    cursor: pointer;
  }
  margin: 34px 97px 23px 98px;
  &__after {
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 3px;
    margin-right: 15px;
  &.check {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-color: #FC9B09;;
    background-color: #FC9B09;
    background-image: url(../img/icons/checkbox.svg);
  }
  &.red {
    border: 1px solid red;
  }
  }

    @media (max-width: 920px) {
      margin: 23px 15px 0 15px;
    }
  
}


#date {
  position: absolute;
  margin: 0;
  border: none;
  width: 100%;
  height: 100%;
  padding-right: 5px;
  opacity: 0;
}

.datepicker-toggle {
  display: inline-block;
  position: relative;
  margin: 10px 97px 0 98px;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 3px;
  height: 42px;
  @media (max-width: 920px) {
    margin: 10px 17px 0 18px;
  }
  input {
    padding: 0;
  }
  p {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #37373F;
    padding: 11px 0 11px 20px;
  }
  &.empty {
    border: 1px solid red;
  }
}

.datepicker-toggle-button {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translate(-5px, -50%);
  width: 13.5px;
  height: 13.5px;
  background: url(../img/icons/calendar-form.svg) no-repeat;
  background-size: contain;
  box-shadow: 0 0 0 6px  white, 0 0 0 7px #C4C4C4;
  border-radius: 0.5px;
}
label::after {
  content: attr(data-end);
  color: red ;
}

.on {
  display: 'block';
}

.card {
  margin: 0 97px 0 98px;
  display: flex;
  @media (max-width: 920px) {
    flex-direction: column;
    margin: 0;
  }
  input {
    margin: 0;
    flex-basis: 50%;
    @media (max-width: 920px) {
      margin: 0 17px 0 18px;
      border-radius: 0px;
    }
  }
  input:last-child {
    @media (max-width: 920px) {
      border-radius: 0 0 3px 3px;
    }
  }
}
#card {
  @media (max-width: 920px) {
    border-radius: 3px 3px 0 0;
  }
}