.reviews {
  margin: 0 auto;
  max-width: 1140px;
  display: block;
  width: 100%;
  padding: 0 15px;
  > p {
    margin: 30px 0 20px 0;
    font-size: 20px;
    line-height: 29px;
    @media (max-width: 920px) {
      font-size: 28px;
      line-height: 42px;
      font-family: $addFamily;
      text-align: center;
      margin: 0;
    }
  }
	&__content {
		width: 100%;
		display: block;
    margin: 0 auto;
		@media (max-width: 920px) {
			width: 100%;
		}
	}
  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #37373F;
  }
  &__item {
    display: flex;
    margin: 0;
    width: 535px;
    padding-top: 30px;
    @media (max-width: 920px) {
      flex-direction: column;
      border-bottom: 0.5px solid #c7c7c7;
      margin: 0 auto;
      position: relative;
      max-width: 100%;
      padding: 0 20px 30px 20px;
      img:first-child {
        max-width: 100%;
      }
      >div>div {
        flex-basis: 20%;
      }
		}
    > div {
      display: flex;
      justify-items: flex-start;
      flex-direction: column;
      padding-top: 5px;
      flex-basis: 25%;
      img {
        max-width: 100%;
      }
      @media (max-width: 920px) {
        flex-direction: row;
      }

    }
    div:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left:20px;
      border-bottom: 0.5px solid #c7c7c7;
      padding-bottom: 24px;
      flex-basis: 100%;
      @media (max-width: 920px) {
        border: none;
        padding: 0;
        flex-basis: auto;
      }
      > div {
        display: flex;
        align-items: start;
        padding: 10px 0;
      }    
      h5 {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #37373F;
        padding: 10px 0;
        @media (max-width: 920px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
      img {
        @media (max-width: 920px) {
          padding: 7px 10px 0 0;
        }
      }
    }
    .date, .occupation {
      font-family: $addFamily;
      font-size: 14px;
      line-height: 21px;
    }
    .comment {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      @media (max-width: 920px) {
        padding-bottom: 20px;
      }
    }
    .replica {
      padding-left: 50px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #B3B3B3;
      @media (max-width: 920px) {
        padding: 24px 0;
      }
      &:before {
        content: url('../img/icons/ok.svg');
      }
    }
  }
  &__viewAll {
    display: flex;
    margin: 0;
    width: 535px;
    justify-content: flex-end;
    @media (max-width: 920px) {
      justify-content: center;
      width: 100%;
    }
    
    p {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
      color: #5286EC;
      text-align: center;
      align-items: center;
      padding: 47px 0;
      cursor: pointer;
      text-align:end;
      @media (max-width: 920px) {
        font-family: $addFamily;
      }
    }
    p:before, p:after {
      content: url('../img/icons/down.svg');
      padding: 0 5px;
      color: #5286EC;
    }
  }
}
.invisible {
	display: none;
}
.visible {
	display: flex;
}