//Миксины=====================================================================
@import "mixins";
//Миксины=====================================================================

//Шрифты======================================================================
@import "fonts";
//Шрифты======================================================================

//Переменные===================================================================
$fontFamily: 'Montserrat', sans-serif;
$addFamily: 'Montserrat-Regular';
$minWidth: 320px;
$mainColor: #fc9b09;
$addColor: #ffffff;
//Переменные===================================================================

//Обнуление===================================================================
@import "null";
//Обнуление===================================================================

//Оболочка=====================================================================
.wrapper {
  overflow-y: scroll;
  min-height: 100%;
}
//Оболочка=====================================================================

//Основная сетка==============================================================
html {
  touch-action: manipulation;
}

.container {
  padding: 0px;
  margin: 0px;
}
//Основная сетка==============================================================

//Подключение файлов UI стилей, форм и готовых классов========================
//@import "forms";
//@import "ui";
//Подключение файлов UI стилей, форм и готовых классов========================

//Подключение файлов стилей страниц и элементов===============================
//@import "popur";
@import "ui.scss";
@import "header.scss";
@import "content.scss";
@import "depiction.scss";
@import "about.scss";
@import "reserved.scss";
@import "map.scss";
@import "reviews.scss";
@import "networks.scss";
@import "footer.scss";
@import "modal.scss";

//Подключение файлов стилей страниц и элементов===============================

//Основной блок===============================================================
.page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  @include flexbox();
  flex-direction: column;
}


