section.about
  article.about__article
    .about__item-1
      h3 Об организаторе:
      p Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах. 
      p Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся
    button Читать еще
    .about__item-2
      h3 Что я предоставлю:
      p Встречу вас на машине после длительного перелёта. <br/>Качественный подбор места и локации для вашей съемки. <br/>При необходимости всегда возможно прерваться на обед/ужин.<br/>Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
    button Читать еще
  .photographer
    div
      img(src="./img/icons/avatar.svg", alt="photo by author")
      img(src="./img/icons/like.svg", alt="like")
    h4 Марина Иванова
    p Фотограф
    button Показать больше информации о фотографе