- var classes = ['section-1__block', 'item1']
.main-depiction
	.main-depiction__content
		.section-1
			.section-1__item-1
				h2 Фотосессия в вертолете
				div
					p Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты
					ul
						li 3 часа съемки
						li Более 50 фотографий
						li Москва
						li Готовы ответить на любые вопросы
			.section-1__item-2
				img(src="./img/photo/posterimage.jpg" alt="kiss")
				iframe(src="https://www.youtube.com/embed/W4YJ0jMmp_o?rel=0" frameborder="0" allow="accelerometer" allowfullscreen encrypted-media gyroscope picture-in-picture data-play="0")
				button
				| Your browser does not support the video or formats.
		.section-2
			img(src="../img/icons/cup.svg")
			div
				p Более <b>50</b> отзывов с оценкой
				img(src="../img/icons/stars.svg")
		.section-3
			p Фотографии пакета:
			.section-3__photo