- var classes = ['section-1__block', 'item1']
.main-depiction
	.main-depiction__content
		.section-1
			.section-1__item-1
				h2 Фотосессия в вертолете
				p Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты
				ul
					li 3 часа съемки
					li Более 50 фотографий
					li Москва
					li Готовы ответить на любые вопросы
			.section-1__item-2
				video(src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" controls crossorigin playsinline poster="./img/photo/posterimage.jpg")
		.section-2
			span
			p Более 50 отзывов с оценкой
			.section-2__bg
		.section-3
			p Фотографии пакета:
			.section-3__photo