.main-depiction
	.section-1
		.block-1
			h2 Фотосессия в вертолете
			p Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты
			ul
				li 3 часа съемки
				li Более 50 фотографий
				li Москва
				li Готовы ответить на любые вопросы
