head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="IE=Edge")
	meta(name="format-detection" content="telephone=no")
	link(rel="stylesheet" href="css/style.min.css")
	link(rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css")
	link(rel="shortcut icon" href="./img/favicon.svg")
	script(type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=251f75a4-91f7-4882-9488-71a2d9ce9e50&lang=ru_RU" )
	title HELYFLY