header.header
  .header__content
    .header__content-main
      .header__content-logo
        img(src="./img/logo.png" alt="logotip")
        img(src="./img/logos/logo-mob.svg" alt="logotip")
      .header__content-phone
        label Телефон: <a href="tel:88001231212">8(800)-123-12-12</a>
      .header__content-place
        p Москва
      .header__content-lk
        img(src="./img/icons/piple.svg", alt="lk")