section.networks
  .networks__content
    .networks__logo
      img(src="./img/logo.png", alt="")
    .networks__refs
      a(href="#")
        img(src="./img/icons/social/vk.svg", alt="ref_to_vk")
      a(href="#")
        img(src="./img/icons/social/Facebook.svg", alt="ref_to_facebook")
      a(href="#")
        img(src="./img/icons/social/Instragram.svg",alt="ref_to_instragram")
      .language
        select(name="select" onchange='javascript:handleSelect(this)')
          option(value="RU" selected) RU
          option(value="EN") EN