section.reserved
  .reserved__content
    p Доступная съемка в ближайшее время
    .block
      .block__b1
        p Пятница, 14 сентября
        img(src="./img/icons/calendar.svg", alt="calendar")
      .block__b2
        .content
          p 15:00 - 18:00
          p 1500₽
          p Осталось — 1 место
        button Выбрать
      .block__b2
        .content
          p 19:00 - 22:00
          p 1500₽
          p Осталось — 1 место
        button Выбрать
      .block__b3
        .evalution
          img(src="./img/icons/cup.svg")
          .recall
            p Более <b>50</b> отзывов с оценкой
            img(src="./img/icons/stars.svg")
