doctype html
html(lang="ru")
  head
    title
  body.wrapper
    main.page
      include _header.pug
      .main-screen
        .main-screen__bg
        .main-screen__content
          .main-screen__heading
            h1 Эксклюзивная <span>фотосессия </span>при полете<br>на вертолете
          .main-screen__price
            .main-screen__block
              p Стоимость:
              p 1500&#8381;
            .main-screen__percent
              img(src="../img/icons/percent.png" alt="percent-symbol")
          a.main-screen__reserv(href="")
            p Забронировать место
          
              
              