doctype html
html(lang="ru")
  include _head.pug
  body.wrapper
    main.page
      include _header.pug
      .main-screen
        .main-screen__bg.ibg
          img(src="../img/bg_main.jpg" alt="helicopter")
        .main-screen__content
          .main-screen__heading
            h1 Эксклюзивная <span>фотосессия </span>при полете<br>на вертолете
          .main-screen__price
            .main-screen__block
              p Стоимость:
              p 1500&#8381;
            .main-screen__percent
              img(src="../img/icons/percent.png")
          a.main-screen__reserv(href="")
            p Забронировать место
      include _depiction.pug
    script(src="./js/script.js")
    script(src="./js/addPhoto.js")
    script(src="https://cdn.plyr.io/3.6.2/plyr.js")
          
              
              